extends layout

block content
  h1= title
  p Fortuna wymaga poświęceń. Wypełnij dokładnie okienka poniżej.
  form#report-form
    label Nazwa użytkownika na Bitbuckecie
      input#username(required type='text', name='username')
    p.label Projekty
    each project in projects
      label.project
        input(type='checkbox', name='project', value=project.key)
        span.avatar
          img(src=(project.links.avatar.href) alt=project.name)
        span.name
          = project.name
    label Miesiąc
      input#month(type='month', name='month')
    label.position Stanowisko
      select#position(name='position')
        option(value='developer') Programista
        option(value='tester') Tester
        option(value='manager') Kierownik zespołu
    input(type='submit', value='Rób')

    p Current status:
      span#status  bezczynny