extends layout

block content
  h1= title
  p Fortuna wymaga poświęceń. Wypełnij dokładnie okienka poniżej.
  form#report-form
    label Nazwa użytkownika na Bitbuckecie
      input#username(type='text', name='username')
    p.label
    label Flipbook Html
      input.repositories(type='radio', name='repositories', value='flipbook-html,vanilia-player,kredens,kredens-player-event-emitter')
    label Didactus
      input.repositories(type='radio', name='repositories', value='didactus-spa,didactus-spa-student,didactus-spa-teacher')
    label Miesiąc
      input#month(type='month', name='month')
    label.position Stanowisko
      select#position(name='position')
        option(value='developer') Programista
        option(value='tester') Tester
        option(value='manager') Kierownik zespołu
    input(type='submit', value='Rób')

    p Current status:
      span#status  bezczynny