body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label, .label {
  display: block;
  margin: 20px;
}

input[type=radio] {
  float: left;
  margin-right: 10px;
}

input, select {
  margin-left: 10px;
  font-family: sans-serif;
}