body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label, .label {
  display: block;
  margin: 20px;
}

input[type=radio] {
  float: left;
  margin-right: 10px;
}

input, select {
  margin-left: 10px;
}

input, select, select option, button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label.project .avatar {
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: 1px solid lightgray;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

label.project input {
  display: none;
}

label.project input:checked + .avatar {
  border: 2px solid darkgreen;
  width: 30px;
  height: 30px;
}

label.project .avatar img {
  width: 32px;
  height: 32px;
  opacity: 0.4;
}

label.project input:checked + .avatar img {
  margin-top: -1px;
  margin-left: -1px;
  opacity: 1;
}

label.project input:checked + .avatar + .name {
  font-weight: bold;
}

.progress #status {
	padding-bottom: 5px;
}

.progress .progress-bar-container {
	width: 300px;
	background-color: lightgrey;
	height: 3px;
}

#progress-bar {
	height: 3px;
	background-color: darkblue;
	width: 0;
}